<header>
    <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper indigo darken-4">
        <a href="/" class="brand-logo">FFFilter</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li id="hompage"><a href="/">Homepage</a></li>
            <li id="fanfictions"><a href="/fanfiction">Fanfiction</a></li>
            <li id="crossovers"><a href="/crossoverfanfiction">Crossovers</a></li>
            <li id="favorites"><a href="/favorites">Favorites</a></li>
        </div>
    </nav>
    </div>
</header>