<div class="row container">
    <h1>Choose you fanfiction</h1>
    <form>
        <div class="col s12 m12 l6">
            <div id="fanfiction1" class="collection">
                <% for(let i = 0; i < fanfiction.length; i++ ) { %>
                    <a id="<%= fanfiction[i].fanfiction %>1" class="collection-item one"><%= fanfiction[i].fanfiction %></a>
                    <% } %>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div id="fanfiction2" class="collection">
            <a id="All2" class="collection-item two">All</a>
                <% for(let i = 0; i < fanfiction.length; i++ ) { %>
                    <a id="<%= fanfiction[i].fanfiction %>2" class="collection-item two"><%= fanfiction[i].fanfiction %></a>
                    <% } %>
            </div>
        </div>
        <p id="error" class="red-text"></p>
        <input class="btn waves-effect waves-light" type="button" value="Go" id="crossover">
    </form>
</div>